/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Jumbotron with image of Oscar award and red background */
  .jumbotron {
    background-image: url("../images/oscar_statue.jpg");
    background-size: 25% 100%;
    text-align: center;
    color: white;
  }

  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #predict {background-color: purple}
  #winner {background-color: red;}
  #money {background-color: green;}
  #vizualize{background-color: blue;}
  #results {background-color: orange;}
  